* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* CSS HEX */
.navbarIndex {
  background-color: #f4e7d5;
  font-family: Copperplate;
  font-weight: 400; }

.body {
  background-color: #f4e7d5; }

.navbarFoto {
  background-color: #f4e7d5;
  font-family: Copperplate;
  font-weight: 400; }

.row {
  background-color: #f4e7d5; }

.carta1 {
  background-color: #f4e7d5; }
  .carta1 .card-body {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #f4e7d5;
    color: white;
    font-family: Copperplate;
    background-color: #27242a;
    margin: 10px; }

.carta2 {
  background-color: #f4e7d5; }
  .carta2 .card-body {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #f4e7d5;
    color: white;
    font-family: Copperplate;
    background-color: #27242a;
    margin: 10px; }

.card {
  font-family: Cooperplate;
  background-color: #27242a;
  color: #f4e7d5; }

.imagenIndex {
  padding: 10px;
  background-color: #f4e7d5; }

.botonInicio {
  justify-content: center; }

.pieRedes {
  background-color: #27242a; }
  .pieRedes ul {
    display: flex;
    justify-content: center; }
    .pieRedes ul li {
      text-decoration: none;
      list-style-type: none;
      padding: 20px; }
      .pieRedes ul li a {
        color: #f4e7d5;
        size: 30px; }
        .pieRedes ul li a :hover {
          transform: scale(2);
          transition-property: all;
          transition-duration: 2s; }

.mainTitulo {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  background-color: #f4e7d5;
  color: white;
  font-family: Copperplate;
  color: #27242a;
  padding: 10px;
  margin: 10px; }

.textoRopa {
  font-family: Cooperplate;
  color: #27242a;
  padding: 10px;
  margin: 10px; }

.cartasRopa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .cartasRopa .card {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #f4e7d5;
    color: white;
    font-family: Copperplate;
    background-color: #27242a;
    padding: 10px;
    margin: 10px;
    width: 45%;
    height: auto;
    display: flex; }

@media (max-width: 425px) {
  .cartasRopa {
    flex-direction: column; } }

.fondoAccordion {
  background-color: #ecd4c6; }
  .fondoAccordion .accordion-item {
    background-color: #ecd4c6; }
