/* CSS HEX */

$violeta: #7400b8ff;
$violetasuave: #6930c3ff;
$azuloscuro: #5e60ceff;
$azulmedio: #5390d9ff;
$azulsuave: #4ea8deff;
$celeste: #48bfe3ff;
$celestesuave: #56cfe1ff;
$turquesa: #64dfdfff;
$turquesasuave: #72efddff;
$agua: #80ffdbff;

