//Mixin facil
@mixin contenedor {max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: $claro;
    color: white;
    font-family: Copperplate;
    
}
@mixin fuente {
    font-family: Cooperplate;
    
}