//Index

.carta1{
    background-color: $claro;
    div{
        @include contenedor;
    }
}
.carta2{
    background-color: $claro;
    div{
        @include contenedor;
    }
}

.card{
    @include fuente;
    background-color: $oscuro;
    color: $claro;
}