//Index
 
.row{
    background-color: $claro;
}
.carta1{
    background-color: $claro;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-body{
        @include contenedor;
        background-color: $oscuro;
        margin: 10px;
        
    }
}
.carta2{
    background-color: $claro;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-body{
        @include contenedor;
        background-color: $oscuro;
        margin: 10px;
    }
}

.card{
    @include fuente;
    background-color: $oscuro;
    color: $claro;
}