
.imagenIndex{
    padding: 10px;
    background-color: $claro;
}




.imagenSustentable1{
    margin: 20px;
}
.imagenSustentable2{
    margin: 20px;
    width: 50%;
}
.botonInicio{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

