
.cartasRopa{
   display: flex;
   flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    .card{
        @include contenedor;
        background-color: $oscuro;
        padding: 10px;
        margin: 10px;
        width: 45%;
        display: flex;
    }
}