//Titulos Main Ropa
.mainTitulo{
    @include contenedor;
    color: $oscuro;
    padding: 10px;
    margin: 10px;
}
.textoRopa{
    @include fuente;
    color: $oscuro;
    padding: 10px;
    margin: 10px;
}
  

//Flexbox Galeria



.cartasRopa{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    .card{
        @include contenedor;
        background-color: $oscuro;
        padding: 10px;
        margin: 10px;
        width: 40%;
        height: auto;
        display: flex;

        img:hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 2s;
        }

    }
}

//MediaQuerys
@media (max-width:425px){
    .cartasRopa{
        flex-direction: column;

    }
    
}
